:root{
    --white: #ffffff;
    --grey: #dfe4e5;
    --light-green: #d4e9db;
    --dark-green: #46aa64;
    --blue: #0a3250;
    --body-font: "Helvetica", "Arial", sans-serif;
    --sier-font: 
}

html body{
    width: 100%;
    height: 350vh;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/*  */
/*  HEADER */
/*  */

Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--white);
}
.logo img{
    max-width: 40%;
    height: auto;
}

.menu-toggle{
    display: none;
}
.menu-icon{
    display: block;
    font-size: 2rem;
    color: var(--blue);
   
}

.menu-icon:checked + .menu-head {
    display: block;
}

.menu-head{
    display: none;
}

/*  */
/*  MAIN */
/*  */




/*  */
/*  FOOTER */
/*  */




/*  */
/* MEDIA */
/*  */
@media (min-width:41rem ) { 
    .menu-head{
        text-decoration: none;
        color: var(--blue);
    }
    
    .menu-head:hover{
        text-decoration: underline;
        color: var(--dark-green)
    }

    .menu-icon{
        display: none;
    }
}
