@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root{
    --white: #ffffff;
    --grey: #dfe4e5;
    --light-green: #d4e9db;
    --dark-green: #46aa64;
    --blue: #0a3250;
    --black: #111111;
}

html body{
    width: 100%;
    height: 350vh;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Roboto', sans-serif;
}

/*  */
/*  HEADER */
/*  */

Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--white);
}
.logo img{
    max-width: 40%;
    height: auto;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropbtn{
    background-color: var(--dark-green);
    color: var(--light-green);
    padding: 0.5em;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    margin-right: 2em;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: var(--white);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px var(--grey);
    z-index: 1;
    align-items: right;
}

.dropdown-content a{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: var(--light-green);

}

.dropdown-content a:hover{
    background-color: black;
}

.dropdown:hover .dropdown-content{
    display: block;
    left: 0;
    right: auto;
}

/*  */
/*  MAIN */
/*  */

main .top{
    text-align: center;
    position: relative;
}

.top img{
    max-width: 100%;
    height: auto; 
    align-items: left;
}

.top h1{
    font-size: 2em;
    color: var(--white);
    margin-top: 10px;
    position: absolute;
    top: 40%;
    margin-left: 1em;
    transform: translate(-50% -50%);
    text-align: center;
    font-weight: 700;
    text-shadow: 4px 4px 4px var(--black);
}

/*  */
/* Search */
/*  */

search {
    align-items: center;
    text-align: center;
    margin: 20px;
}

search p{
    font-size: 1.5em;
    color: var(--blue);
    margin-top: 3em;
    font-weight: 600;
}

search input{
    align-items: center;
    padding: 10px;
    width: 80%;
    max-width: 300px;
    height: 1.2em;
    border: 2px solid var(--dark-green);
    border-radius: 5px;
    font-size: 1em;
}

search button{
    align-items: center;
    background-color: var(--dark-green);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
}

/*  */
/* Content */
/*  */

.categorie{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(4, 1fr); 
   grid-template-areas: 
   'tekst tekst'
   'content1 content2'
   'content3 content4'
   'content5 content6';
}

.categorie p{
    grid-area: tekst;
    text-align: center;
    margin-top: 2em;
}

.content-link{
    display: block;
    text-decoration: none;
    position: relative;
    top: 0%;
    transform: translate(-100% -100%);
}
.content-foto{
    width: 200px;
    height: 300px;
    opacity: 0.5;
}

.content1{
    grid-area: content1;
}
.content2{
    grid-area: content2;
}
.content3{
    grid-area: content3;
}
.content4{
    grid-area: content4;
}
.content5{
    grid-area: content5;
}
.content6{
    grid-area: content6;
}

/*  */
/*  FOOTER */
/*  */




/*  */
/* MEDIA */
/*  */
@media (min-width:41rem ) { 
    .menu-head{
        text-decoration: none;
        color: var(--blue);
    }
    
    .menu-head:hover{
        text-decoration: underline;
        color: var(--dark-green)
    }

    .menu-icon{
        display: none;
    }
}
